---

//  -----------------------------------------------------------------
//  ----------  /02/pokemon-static/  --------------------------------
//  ----------  /src/components/pokemons/PokemonCard.astro  ---------
//  -----------------------------------------------------------------


interface Props {
    url: string;
    name: string;
    isBig?: boolean;
}

const base = '';
//const base = '/udemy/pokemon-static';

const { url, name, isBig = false } = Astro.props;

const id = url.split("/").at(-2);

//  -----  url para la imagen del pokemon  -----
const imageSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`;
//console.log(id);


---


<!-- href={`/pokemon/${id}`} -->

<a
    href={`${base}/pokemons/${name}`}

    class:list={[
        "rounded flex flex-col justify-center items-center p-1",
        {
            border: !isBig,
        },
    ]}
>
    
    <img
        src={imageSrc}
        alt={name}
        class:list={[
            {
                "w-26 h-26": isBig,
                "w-22 h-20": !isBig,
            },
        ]},
        transition:name={`${name}-image`} 

    />

    <span
        class:list={[
            'capitalize',
            {
                'text-6xl text-green-500': isBig,
                'text-sm ': !isBig

            }
        ]}
        transition:name={`${name}-name`} 
    >
        #{id} - {name}
    </span>

</a>

<!-- class=`rounded ${ !isBig && 'border'} flex flex-col justify-center items-center p-2` -->
<!-- <span class="capitalize"> {id} - {name} </span> -->

<!-- w-26 h-26 isBig
 w-16 h-16 !isBig -->
